.navbar {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRKTYnjPm26AfsPcXGjseWg5w45-9Vg_6w4r_vsv9AWQI7UyC1");
  padding-right: 70px;

}

.navbar-brand {
  font-size: 25px;
  margin-right: 10px;
}
